* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(135deg, #121212, #1b1b1b);
  color: #fff;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #181818;
  border-bottom: 2px solid #6c63ff;
}

header img {
  width: 140px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #bdbdbd;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #6c63ff;
}

/* Botões */
.btn {
  background: #6c63ff;
  border: none;
  padding: 10px 24px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.btn:hover {
  background: #00d4ff;
}

/* Footer */
footer {
  margin-top: 60px;
  padding: 25px;
  text-align: center;
  background: #181818;
  color: #bdbdbd;
  border-top: 2px solid #6c63ff;
}